.vs/SkyBattle_CourseProject/v15/Server/sqlite3/storage.ide-wal
.vs/SkyBattle_CourseProject/v15/Server/sqlite3/storage.ide-shm
.vs/SkyBattle_CourseProject/v15/Server/sqlite3/storage.ide
.vs/SkyBattle_CourseProject/v15/Server/sqlite3/db.lock
.vs/SkyBattle_CourseProject/v15/.suo
